<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>{{ site.title }}</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="{{ site.reveal_path }}css/reveal.css">
		<link rel="stylesheet" href="{{ site.reveal_theme_path }}{{ site.reveal_theme }}" id="theme">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" >
		<link rel="stylesheet" href="{{ site.reveal_theme_path }}/font-mfizz/font-mfizz.css"> 

		<!--  Favicon -->
		<!-- <link rel="icon" href="{{ site.reveal_theme_path }}favicon.ico" /> -->
		
		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="{{ site.reveal_path }}lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="{{ site.reveal_path }}css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="{{ site.reveal_path }}lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body class="{{ datastate }}">

		<div class="reveal">

		<div class="slides">

                {{ content }}

            </div>

		</div>

		<script src="{{ site.reveal_path }}lib/js/head.min.js"></script>
		<script src="{{ site.reveal_path }}js/reveal.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: '{{ site.reveal_transition }}', // default/cube/page/concave/zoom/linear/fade/none

                {% if site.reveal_options %}

                {{ site.reveal_options | append:',' }}

                {% endif %}

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: '{{ site.reveal_path }}lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: '{{ site.reveal_path }}plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '{{ site.reveal_path }}plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '{{ site.reveal_path }}plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: '{{ site.reveal_path }}plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
                    {% if site.reveal_notes_server %}
                    { src: '{{ site.reveal_path }}socket.io/socket.io.js', async: true },
                    { src: '{{ site.reveal_path }}plugin/notes-server/client.js', async: true }
                    {% else %}
					{ src: '{{ site.reveal_path }}plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
                    {% endif %}
                    {% if site.reveal_dependencies %}
                    , {{ site.reveal_dependencies }}
                    {% endif %}
				]
			});

		</script>

	</body>
</html>
